/** @format */
/* * {
  margin: 0;
  padding: 0;
  text-decoration: none;
} */

html {
  font-family: "IBM Plex Serif", serif;
}

body {
  max-width: 90%;
  margin: 0 auto;
  background-image: url("https://cdn.pixabay.com/photo/2019/04/10/12/40/watercolour-4117017_1280.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

header * {
  background-color: yellow;
}

figure > img {
  width: 500px;
  float: left;
  margin-right: 40px;
  margin-bottom: 20px;
}

em {
  font-style: normal;
}

.red {
  color: red;
  text-transform: capitalize;
}

.green {
  color: green;
  text-transform: capitalize;
}

p {
  font-family: serif;
  letter-spacing: 0.5px;
  font-size: 20px;
  color: #333333;
  font-style: italic;
}

table {
  width: 40%;
}

td {
  padding: 10px;
}

tr:nth-child(1) {
  background-color: gray;
}

tr:nth-child(2) {
  background-color: #fff;
}

tr:nth-child(3) {
  background-color: gray;
}

tr:nth-child(4) {
  background-color: #fff;
}

tr:nth-child(5) {
  background-color: gray;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: green;
}

a:hover {
  color: rgb(0, 89, 255);
}

.read {
  list-style-type: none;
}

ul:nth-of-type(1) {
  list-style-type: auto;
}

ul li {
  padding-bottom: 10px;
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}
