/** @format */

p {
  font-family: serif;
  letter-spacing: 0.5px;
  font-size: 20px;
  color: #333333;
}

a {
  text-decoration: none;
  color: #000;
}

.read {
  list-style-type: none;
}

ul:nth-of-type(1) {
  list-style-type: auto;
}

ul li {
  padding-bottom: 10px;
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}
